<%= form_for(@related_link) do |f| %>
  <% if @related_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@related_link.errors.count, "error") %> prohibited this related_link from being saved:</h2>

      <ul>
      <% @related_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
