<h1>Listing related_links</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @related_links.each do |related_link| %>
  <tr>
    <td><%= link_to 'Show', related_link %></td>
    <td><%= link_to 'Edit', edit_related_link_path(related_link) %></td>
    <td><%= link_to 'Destroy', related_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Related link', new_related_link_path %>
